.prodacts {
    &__title {
        text-align: center;
        margin-bottom: 30px;
        color: $primary-color;
        font-size: 36px;
    }

    &__item {
        height: 100%;
        border: 2px solid $primary-color;
        border-radius: 30px;
        padding: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    a {
        @include links;
    }
}
.footer {
    height: 60px;
    text-align: center;
    background-color: $primary-color;
    margin-top: 40px;
    font-size: 18px;
    padding-top: 15px;
}
